* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
     gap: 10px;
    padding: 20px;
    grid-template-areas: 
    "header header header"
    "sidebarl main sidebard"
    "footer footer footer";
}

.container header{
    background-color: red;
    grid-area: header;
    padding: 50px;

}

.container .sidebar-left{

    background-color: aquamarine;
    grid-area: sidebarl;
}

.container .sidebar-right {
    background-color: blue;
    grid-area: sidebard;
}

.container main{
background-color: yellow;
grid-area: main;
}

.container  footer{
    background-color: rgb(198, 167, 167);
    grid-area: footer;

}



/*HEADER CONTAINER2*/

.container2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 20px;
    min-height: 100vh;
    grid-template-areas:
        "header header header header"
        "sidebar-left main main sidebar-right"
        "footer footer footer footer";
}




.container2 header{
    background-color: rgb(100, 207, 24);
    grid-area: header;
    padding: 50px;
}

.container2 .sidebar-left {
    background-color: #7fd6e7;
    grid-area: sidebar-left;
    padding: 20px;
}

.container2 .sidebar-right {
    background-color: #e7b97f;
    grid-area: sidebar-right;
    padding: 20px;
}

main{
background-color: yellow;
grid-area: main;
}

footer{
    background-color: rgb(198, 167, 167);
    grid-area: footer;

}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    padding: 10px;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas: "header header header header"
    "sidelefth main main siderigth"
    "footer footer footer footer";

}


.container3 main {
    background-color: orange;
}

.container3 .sidebar-left {

    background-color: rgb(255, 0, 76);
    grid-area: sidelefth;

}

.container3 .sidebar-right {
    background-color: rgb(15, 57, 94);
    grid-area: siderigth;
}