* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
     gap: 10px;
    padding: 20px;
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";
}

header{
    background-color: red;
    grid-area: header;
    padding: 50px;

}

aside{

    background-color: aquamarine;
    grid-area: sidebar;
}

main{
background-color: yellow;
grid-area: main;
}

footer{
    background-color: rgb(198, 167, 167);
    grid-area: footer;

}



/*HEADER CONTAINER2*/

.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 20px;
    min-height: 100vh;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer"
     ;
}



.container2 header{
    background-color: rgb(100, 207, 24);
    grid-area: header;
    padding: 50px;

}

main{
background-color: yellow;
grid-area: main;
}

footer{
    background-color: rgb(198, 167, 167);
    grid-area: footer;

}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    padding: 10px;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas: "header header header header"
    "sidebar main main main "
    "footer footer footer footer";

}


.container3 main {
    background-color: orange;
}

.container3 sidebar {

}